#logo{
	color: orange;
	font-size: 1.5em;
	font-weight: bold;
}
#intro{
    background:url(../images/hero.jpg);
    color: #fff;
    height:70vh;
    padding: 5em 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#current{
	
}
#two_column{
	background-color: #FFB7CF;
    border: 1px black solid;
    padding: 20px;
}
#left {
    background-color: violet;
    border: 1px black solid;
    padding: 20px;
    float: left;
    width: 30%;
}

#right {
    background-color: pink;
    border: 1px black solid;
    padding: 20px;
    float: right;   
    width: 62%;
}
.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
#about{
	
}
nav{
	

}
header{
	
}
h1{
	font-family: novel-pro, sans-serif;
	font-weight: 800;
	font-size: 4em;
	font-style: normal;
 }
p{
	font-family: proxima-nova, sans-serif;
    font-weight: 400;
    font-style: normal;
}
footer{
	

}


