* {
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #333;
	line-height: 1.3;
}

img {
  height: auto;
  width: 100%;
}

h2 {
  font-size: 1.5em;
  font-weight: 700;
}

h3 {
  line-height: 1.2;
}

h4 {
	font-family: novel-pro,Georgia,Times,Times New Roman,serif;
	font-weight: 700;
}

h3, h4 {
  font-size: 22px;
  letter-spacing: -.5px;
}

nav {
	justify-self: end;
}

ul {}

li, a, button {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	color: #333;
	text-decoration: none;
}

main {
	margin-top: 90px;
}


/* Layout styles */
.l-constrain {
  margin: 0 auto;
  max-width: 1145px;
  width: 100%;
}

.l-section {
  width: 100%;
  padding: 4em 0;
}

.l-section--alt {
  background: #f3f3f3;
}

.l-section__title {
  border-left: 3px solid #000;
  border-right: 3px solid #000;
  display: inline-block;
  line-height: 1;
  margin-bottom: 2em;
  padding: 0 10px;
  text-transform: uppercase;
}

.l-section__postscript {
  text-align: center;
}

.l-grid {
	display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.l-grid--3col > * {
  width: 32%;
}

/* Utility classes */
.border-orange {
  border-left: 3px solid #fda305;
  border-right: 3px solid #fda305;
}

.border-teal {
  border-left: 3px solid #06c5bc;
  border-right: 3px solid #06c5bc;
}

.line {
  background-color: #000;
  height: 215px;
  left: 11.5px;
  position: absolute;
  top: 25px;
  width: 2px;
}

.line--yellow {
  background-color: #deec1c;
}

.line--teal {
  background-color: #03c5bc;
}

.line--orange {
  background-color: #fda307;
}

.line--blue {
  background-color: #172D6A;
}

.line--purple {
  background-color: #7d0096;
}

.line--red {
  background-color: #ff0000;
}

.line--maroon {
  background-color: #800000;
}

.list {
  margin: 0;
  padding-left: 26px;
}

.list li {
  font-weight: 400;
  list-style: none;
}

.list li::before {
  color: #000;
  content: "\2022";
  display: inline-block;
  font-weight: 700;
  margin-left: -1em;
  width: 1em;
}

.list--yellow li::before {
  color: #deec1c;
}

.list--teal li::before {
  color: #03c5bc;
}

.list--orange li::before {
  color: #fda307;
}

.list--blue li::before {
  color: #172D6A;
}

.list--purple li::before {
  color: #7d0096;
}

.list--red li::before {
  color: #ff0000;
}

.list--maroon li::before {
  color: #800000;
}

.button {
  -webkit-transition: color .2s ease-in,background-color .25s ease-in;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 24px;
  text-transform: uppercase;
  transition: color .2s ease-in,background-color .25s ease-in;
}

.button:hover {
  background-color: #000;
  color: #fff;
}

/* Header */
header {
	align-items: center;
	background-color: white;
	box-shadow: 0 1px 2px #ccc;
	display: flex;
	justify-content: space-between;
	left: 0;
	padding: 30px 10%;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99;
}

.logo img {
	justify-content: left;
	margin-right: auto;
	width: 200px;
}

/* Header Menu */
.nav__list {
  display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
	list-style: none;
}

.nav__item {
	display: inline-block;
	padding: 0px 30px;
}

.nav__link {
	transition:  all 0.3s ease 0s;
  text-transform: uppercase;
}

.nav__link:hover {
	color: #7d0096;
}

.nav__link--button {
	background-color: white;
	border-radius: 10px;
	border: 1px solid;
	cursor: pointer;
	margin-left: 20px;
	padding: 9px 25px;
	transition:  all 0.3s ease 0s;
  text-transform: uppercase;
}

.nav__link--button:hover {
	background-color: black;
	color: white;
}

/* Hero */
.hero {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	margin: 0 auto;
	padding: 4em 0 8em;
	width: 100%;
}

.hero__container {
	display: flex;
	flex-direction: row;
	margin: 0px auto;
	max-width: 975px;
	width: 85%;
}

.hero__title {
	font-family: novel-pro,Georgia,Times,Times New Roman,serif;
	font-weight: 800;
	line-height: 1;
	font-size: 4.5em;
	color: white;
	margin-bottom: 0.5em;
}

.hero__text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 4em;
}

.hero__description {
	color: white;
	font-style: normal;
	font-weight: 400;
	letter-spacing: -.25px;
	line-height: 1.6;
}

/* Social Channels */
.social-channels {
	display: flex;
	justify-content: center;
  margin-bottom: 5em;
}

.social-channels__icons {
  align-items: center;
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 2px #ccc;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: -70px;
  max-width:1145px;
  padding: 30px 60px;
  width: 100%;
}

/* Icon */
.icon img{
  margin-bottom: .5em;
  width: 250px;
}

/* Episode */
.episode {
  margin-bottom: 1.5em;
}

.episode__image {
  margin-bottom: 1.5em;
}

.episode__content {
  font-size: 20px;
  margin-bottom: 1.5em;
}

.episode__heading {
  margin-bottom: .5em;
}

.episode__play {
  align-items: center;
  display: flex;
  width: 100%;
}

.episode__play img {
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

/* Episode Teaser */
.episode--teaser {
  position: relative;
}

.episode--teaser .episode__heading {
  padding-left: 26px;
}

.episode--teaser .episode__list {
  padding-left: 28px;
}

/* Tablet Breakpoint */
@media (max-width: 768px) {

  .social-channels__icons {
    flex-direction: column;
  }

  .icon {
    width: 100%;
  }
}
