* {
	margin: 0;
	box-sizing: border-box;
}

.main-content {
	background-color: #efefef;
	margin-top: 90px;
}

/* Horizontal Navigation Styling - Begin */ 

li, a, button {
	font-family: proxima-nova, sans-serif;
	font-weight: 700;
	font-size: 16px;
	font-style: normal;
	color: #333;
	text-decoration: none;
}

header {
	box-shadow: 0 1px 2px #ccc;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-template-columns: max-content auto max-content;
	padding: 30px 10%;
	background-color: white;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

.logo img {
	width: 200px;
	margin-right: auto;
	justify-content: left;
}

nav {
	justify-self: end;
}

ul {
	display: flex;
	flex-wrap: wrap;
	gap: 0 2rem;
}

.cta {
	margin-left: 20px;
	padding: 9px 25px;
	border: solid;
	background-color: white;
	border-radius: 10px;
	border-width: 1.5px;
	cursor: pointer;
	transition:  all 0.3s ease 0s;
}

.cta:hover {
	background-color: black;
	color: white;
}

.nav__list {
	list-style: none;
}

.nav__list li {
	display: inline-block;
	padding: 0px 30px;
}

.nav__link {
	transition:  all 0.3s ease 0s;
}

.nav__link:hover {
	color: #7d0096;
}


/* Horizontal Navigation Styling - End*/ 

/* Intro Hero Image Section Styling - Begin */ 

.hero__container {
	margin: 0px auto;
	width: 85%;
	max-width: 1000px;
	display: flex;
	flex-direction: row;
}

.hero__title {
	font-family: novel-pro,Georgia,Times,Times New Roman,serif;
	font-weight: 800;
	line-height: 1;
	font-size: 3.5em;
	color: white;
	margin-bottom: 0.5em;
}

.hero__text {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-left: 2em;
}

.hero__description {
	font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
	font-style: normal;
	line-height: 1.6;
	font-weight: 400;
	color: white;
	letter-spacing: -.25px;
}

.section_intro_container {
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	padding: 4em 0 8em;
	width: 100%;
	background-size: cover;
	margin: 0 auto;
}


/* Social Channels */
.social-channels__icons {
	background: #fff;
	border-radius: 10px;
    box-shadow: 0 1px 2px #ccc;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: -75px auto 0;
    padding: 30px 60px;
	width: 70%;
}

.icon {
    margin-bottom: 1em;
	width: 250px;
}

/* Intro Hero Image Section Styling - End */

/* Latest Episode Section Styling - Start */

#latest {
	font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-style: normal;
    line-height: 1.6;
    font-weight: 400;
    color: #333;
}

.latest_container {
	width: 85%; 
    align-items: center;
    margin: 3em 10em 3em 10em;
    padding-bottom: 12em;
}

.latest_text {
	display: inline-block;
    padding: 0 10px;
    border-left: 2px solid #03c5bc;
    border-right: 2px solid #03c5bc;
    color: #000;
    font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 1px;
}


/* Latest Episode Section Styling - End */



body {
	font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
	color: #333;
	line-height: 1.3;

}

h2 {
	font-family: proxima-nova,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 1.5em;
    font-weight: 700;
}



/* Tablet Breakpoint */
@media (max-width: 768px) {

  .social-channels__icons {
    flex-direction: column;
  }

  .icon {
    width: 100%;
  }
}